<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/LogFiles/nlog-internal.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- File Target for all log messages with basic details -->
    <target xsi:type="File"
          name="webTarget"
          fileName="${basedir}/LogFiles/web@${shortdate}.log"
          layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
          encoding="utf-8"
          writeBom="true"
          keepFileOpen="false"
          concurrentWrites="false"
          autoFlush="false"
          openFileFlushTimeout="1" />
		  
    <target xsi:type="File"
          name="rootTarget"
          fileName="${basedir}/LogFiles/root@${shortdate}.log"
          layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
          encoding="utf-8"
          writeBom="true"
          keepFileOpen="false"
          concurrentWrites="false"
          autoFlush="false"
          openFileFlushTimeout="1" />

    <!-- Other targets like console, database, etc. can be added here -->
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- Send into a black hole to hide these logs -->
    <logger name="BookProject.WebAPI*" minlevel="Info" writeTo="webTarget" final="true" />
    <logger name="*" minlevel="Info" writeTo="rootTarget" final="true" />
    <!-- Other rules can be added here -->
  </rules>
</nlog>