<div style="text-align:center">
    <h3 class="pageTitle">Welcome to BookProject!</h3>
    <hr />
    <img src="~/Content/picture/pexels-rafael-cosquiere-2041540.jpg" style="max-width: 100%;" alt="Welcome To BookProject" />
</div>
